@model List<Kisi>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td><a asp-action="Detay" asp-route-id="@item.Id">@item.AdSoyad</a></td>
                <td>@item.Telefon</td>
                <td>
                    <a class="btn btn-primary" asp-action="Guncelle" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-action="Sil" asp-route-id="@item.Id">Sil</a>
                </td>

            </tr>

        }
    </tbody>
</table>
